
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="toolbarStyle">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    &nbsp;&nbsp;
    <h1><font color="white" class="font">ILS HUMAN RESOURCES</font></h1>
    <!--<h1 class="example-app-name">ILS HUMAN RESOURCES</h1>-->
    <div class="loginStyle">
      <button mat-raised-button color="primary" (click)="openDialog()" width="50px">LOGIN</button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="10" class="BG_Sidenav">
      <mat-nav-list>
        <div class="sidenav">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>  <!--  เห็นเฉพาะ HR -->
                <mat-label class="dd">
                  Employee
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a (click)="callEmployeeMaster()">Employee Master</a>
              <a (click)="callEmployeeAdd()">New Employee</a>
              <a (click)="callCreateAccount()">Create new account</a>
            </mat-expansion-panel>

            <!--  การลา(leave) --------------------------------------------------------------------------------->

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  Attendance
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="LeaveMain">Attendance</a> <!-- เห็นทุกคน ยกเว้น HR -->
              <a routerLink="LeaveShow">Data Attendance</a>  <!-- เห็นทุกคน -->
              <a routerLink="LeaveShowHR">Data Attendance For HR</a>   <!-- เห็นเฉพาะ HR -->
              <a routerLink="LeaveApproveMan">Approve By MANAGER</a>   <!-- เห็นเฉพาะ MANAGER -->
              <a routerLink="LeaveApproveSup">Approve By SUPERVISOR</a>   <!-- เห็นเฉพาะ SUPERVISOR -->
            </mat-expansion-panel>

            <!--  ขอล่วงเวลา(OT) --------------------------------------------------------------------------------->

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  OverTime
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="OverTime">OverTime</a>
              <a routerLink="OverTimeShow">Data OverTime</a>
              <a routerLink="OverTimeApprove">Approve</a>
            </mat-expansion-panel>

            <!--  อบรม (Training) --------------------------------------------------------------------------------->

            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  Training
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="TrainAdd">Training</a>
              <a routerLink="TrainShow">Data Training</a>
            </mat-expansion-panel>
          </mat-accordion>
        </div> <!-- ข้างๆๆๆๆ -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-container">
      <div class="card">
          <app-employee-master *ngIf="selectEmployeemaster == 'true' ? true : false"></app-employee-master>
          <app-employee-add *ngIf="selectEmployeeAdd == 'true' ? true : false"></app-employee-add>
          <app-create-account *ngIf="selectCreateAccount == 'true' ? true : false"></app-create-account>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
