
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="toolbarStyle">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon class="iconColor">menu</mat-icon></button>
    &nbsp;&nbsp;
    <h1><font color="white" class="font">ILS HUMAN RESOURCES</font></h1>
    <!--<h1 class="example-app-name">ILS HUMAN RESOURCES</h1>-->

      <!--<mat-chip-list aria-label="Fish selection" class="loginStyle"  *ngIf="(logouts == 'false' ? false : true)">
        <mat-chip (click)="openLoginDialogComponent()" height="100px" selected><mat-icon matSuffix>fingerprint</mat-icon>LOGIN</mat-chip>
      </mat-chip-list> -->
      <mat-chip-list aria-label="Fish selection" class="loginStyle" *ngIf="(logouts == 'false' ? true : false)">
        <mat-chip color="primary" (click)="logout()" height="100px" matTooltip="Logout" selected><mat-icon matSuffix>exit_to_app</mat-icon></mat-chip>
      </mat-chip-list>


  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav opened #snav  [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="10" class="BG_Sidenav">
      <mat-nav-list>

        <mat-card-header class="align">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{this.NewemployeeMasterFirstName}}&nbsp;{{this.NewemployeeMasterLastName}}</mat-card-title>
          <mat-card-subtitle>{{this.NewRoleStatus}}</mat-card-subtitle>
        </mat-card-header>

        <div class="sidenav">
          <mat-accordion>
            <mat-expansion-panel class="BG_Sidenav">
              <mat-expansion-panel-header>  <!--  เห็นเฉพาะ HR -->
                <mat-label class="dd">
                  <mat-icon matSuffix>supervised_user_circle</mat-icon>
                  Employee
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="/newheader" (click)="callEmployeeMaster()" *ngIf="(role == 'HR' ? true : false)||(role == 'ADMIN' ? true : false)&&(logouts == 'true' ? false : true)">Employee Master<mat-icon matSuffix>account_circle</mat-icon></a>
              <a routerLink="/newheader" (click)="callEmployeeAdd()" *ngIf="(role == 'HR' ? true : false)||(role == 'ADMIN' ? true : false)&&(logouts == 'true' ? false : true)">New Employee<mat-icon matSuffix>person_add</mat-icon></a>
             <!-- <a routerLink="" (click)="callCreateAccount()">Create new account<mat-icon matSuffix>person_add</mat-icon></a> -->
            </mat-expansion-panel>

            <!--  การลา(leave) --------------------------------------------------------------------------------->

            <mat-expansion-panel class="BG_Sidenav">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  <mat-icon matSuffix>face</mat-icon>
                  Attendance
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="/newheader" (click)="callAttendance()" *ngIf="(role == 'EMPLOYEE' ? true : false)||(role == 'SUPERVISOR' ? true : false)&&(logouts == 'true' ? false : true)||(role == 'ADMIN' ? true : false)||(role == 'HR' ? true : false)">Attendance</a> <!-- เห็นทุกคน ยกเว้น HR -->
              <a routerLink="/newheader" (click)="callAttendanceData()" *ngIf="(role == 'HR' ? true : false)||(role == 'ADMIN' ? true : false)&&(logouts == 'true' ? false : true)">Data Attendance</a>  <!-- เห็นทุกคน -->
              <a routerLink="/newheader" (click)="callApproveBySupervisor()" *ngIf="(role == 'SUPERVISOR' ? true : false)||(role == 'ADMIN' ? true : false)&&(logouts == 'true' ? false : true)">Approve By SUPERVISOR</a>   <!-- เห็นเฉพาะ SUPERVISOR -->
              <a routerLink="/newheader" (click)="callApproveByManager()" *ngIf="(role == 'MANAGER' ? true : false)||(role == 'ADMIN' ? true : false)&&(logouts == 'true' ? false : true)">Approve By MANAGER</a>   <!-- เห็นเฉพาะ MANAGER -->

            </mat-expansion-panel>

            <!--  ขอล่วงเวลา(OT) --------------------------------------------------------------------------------->

            <mat-expansion-panel class="BG_Sidenav">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  <mat-icon matSuffix>watch_later</mat-icon>
                  OverTime
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="/newheader" *ngIf="(logouts == 'true' ? false : true)">OverTime</a>
              <a routerLink="/newheader" *ngIf="(logouts == 'true' ? false : true)">Data OverTime</a>
              <a routerLink="/newheader" *ngIf="(logouts == 'true' ? false : true)">Approve</a>
            </mat-expansion-panel>

            <!--  อบรม (Training) --------------------------------------------------------------------------------->

            <mat-expansion-panel class="BG_Sidenav">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  <mat-icon matSuffix>fitness_center</mat-icon>
                  Training
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="/newheader" *ngIf="(logouts == 'true' ? false : true)">Training</a>
              <a routerLink="/newheader" *ngIf="(logouts == 'true' ? false : true)">Data Training</a>
            </mat-expansion-panel>

            <mat-expansion-panel class="BG_Sidenav">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  <mat-icon matSuffix>settings_applications</mat-icon>
                  Setting
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="/newheader" *ngIf="(logouts == 'true' ? false : true)">Setting1</a>
              <a routerLink="/newheader" *ngIf="(logouts == 'true' ? false : true)">Setting2</a>
            </mat-expansion-panel>
          </mat-accordion>
        </div> <!-- ข้างๆๆๆๆ -->

        <!--<div  align="center">
          <button mat-raised-button  color="warn" class="logoutStyle" (click)="logout()" selected>LOGOUT</button>
        </div> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="page-main">
      <div class="card">
          <app-home *ngIf="selectHome == 'true' ? true : false"></app-home>
          <app-employee-master *ngIf="selectEmployeemaster == 'true' ? true : false"></app-employee-master>
          <app-employee-add *ngIf="selectEmployeeAdd == 'true' ? true : false"></app-employee-add>
          <app-attendance *ngIf="selectAttendance == 'true' ? true : false"></app-attendance>
          <app-attendance-data *ngIf="selectAttendanceDate == 'true' ? true : false"></app-attendance-data>
          <app-approve-by-supervisor *ngIf="selectApproveBySupervisor == 'true' ? true : false"></app-approve-by-supervisor>
          <app-approve-by-manager *ngIf="selectApproveByManager == 'true' ? true : false"></app-approve-by-manager>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
