
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="toolbarStyle">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon class="iconColor">menu</mat-icon></button>
    &nbsp;&nbsp;
    <h1><font color="white" class="font">ILS HUMAN RESOURCES</font></h1>
    <!--<h1 class="example-app-name">ILS HUMAN RESOURCES</h1>-->

      <mat-chip-list aria-label="Fish selection" class="loginStyle">
        <mat-chip (click)="openDialog()" height="100px" selected><mat-icon matSuffix>fingerprint</mat-icon>LOGIN</mat-chip>
      </mat-chip-list>

  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="10" class="BG_Sidenav">
      <mat-nav-list>

        <mat-card-header class="align">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Diki kawasaki</mat-card-title>
          <mat-card-subtitle>Admin</mat-card-subtitle>
        </mat-card-header>

        <div class="sidenav">
          <mat-accordion>
            <mat-expansion-panel class="BG_Sidenav"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>  <!--  เห็นเฉพาะ HR -->
                <mat-label class="dd">
                  <mat-icon matSuffix>supervised_user_circle</mat-icon>
                  Employee
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="" (click)="callEmployeeMaster()">Employee Master<mat-icon matSuffix>account_circle</mat-icon></a>
              <a routerLink="" (click)="callEmployeeAdd()">New Employee<mat-icon matSuffix>person_add</mat-icon></a>
              <a routerLink="" (click)="callCreateAccount()">Create new account<mat-icon matSuffix>person_add</mat-icon></a>
            </mat-expansion-panel>

            <!--  การลา(leave) --------------------------------------------------------------------------------->

            <mat-expansion-panel class="BG_Sidenav"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false" >
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  Attendance
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="" (click)="callAttendance()">Attendance<mat-icon matSuffix>home</mat-icon></a> <!-- เห็นทุกคน ยกเว้น HR -->
              <a routerLink="">Data Attendance</a>  <!-- เห็นทุกคน -->
              <a routerLink="">Data Attendance For HR</a>   <!-- เห็นเฉพาะ HR -->
              <a routerLink="">Approve By MANAGER</a>   <!-- เห็นเฉพาะ MANAGER -->
              <a routerLink="">Approve By SUPERVISOR</a>   <!-- เห็นเฉพาะ SUPERVISOR -->
            </mat-expansion-panel>

            <!--  ขอล่วงเวลา(OT) --------------------------------------------------------------------------------->

            <mat-expansion-panel class="BG_Sidenav"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  OverTime
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="OverTime">OverTime</a>
              <a routerLink="OverTimeShow">Data OverTime</a>
              <a routerLink="OverTimeApprove">Approve</a>
            </mat-expansion-panel>

            <!--  อบรม (Training) --------------------------------------------------------------------------------->

            <mat-expansion-panel class="BG_Sidenav"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-label class="dd">
                  Training
                </mat-label>
              </mat-expansion-panel-header>
              <hr/>
              <a routerLink="TrainAdd">Training</a>
              <a routerLink="TrainShow">Data Training</a>
            </mat-expansion-panel>
          </mat-accordion>
        </div> <!-- ข้างๆๆๆๆ -->

        <div  align="center">
          <button mat-raised-button (click)="openDialog()" color="warn" class="logoutStyle" selected>LOGOUT</button>
        </div>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-container">
      <div class="card">
          <app-home *ngIf="selectHome == 'true' ? true : false"></app-home>
          <app-employee-master *ngIf="selectEmployeemaster == 'true' ? true : false"></app-employee-master>
          <app-employee-add *ngIf="selectEmployeeAdd == 'true' ? true : false"></app-employee-add>
          <app-create-account *ngIf="selectCreateAccount == 'true' ? true : false"></app-create-account>
          <app-attendance *ngIf="selectAttendance == 'true' ? true : false"></app-attendance>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
