<mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
<mat-toolbar color="primary">
  <span (click)="ngOnInit()">DC Manager</span>&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="example-fill-remaining-space" style="align:center;"></span>
  <span>
      <button mat-stroked-button style="width:100%;"(click)="ShowSearchLeaveData()"><mat-icon>search</mat-icon>&nbsp;<b>Show Search Data</b></button>
  </span>
</mat-toolbar>

<mat-card *ngIf="hide">
  <mat-form-field>
    <input matInput [matDatepicker]="pickerSearch"  [matDatepickerFilter]="onlyOdds" placeholder="วัน/เดือน/ปี ค.ศ." [(ngModel)]="startDateSearch" >
    <mat-datepicker-toggle matSuffix [for]="pickerSearch" ></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerSearch></mat-datepicker>
  </mat-form-field>&nbsp;&nbsp;To&nbsp;&nbsp;
  <mat-form-field>
    <input matInput [matDatepicker]="pickerSearch2"  [matDatepickerFilter]="onlyOdds" placeholder="วัน/เดือน/ปี ค.ศ." [(ngModel)]="endDateSearch" >
    <mat-datepicker-toggle matSuffix [for]="pickerSearch2" ></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerSearch2></mat-datepicker>
  </mat-form-field>
  &nbsp;&nbsp;
  <mat-form-field hintLabel="" >
    <mat-select placeholder="ประเภทการลา" [(ngModel)]="leaveTypeSearch" >
      <mat-option>---none---</mat-option>
      <mat-option *ngFor="let value of leaveTypeForAlldays" [value]="value.leaveTypeForAlldayID" >
        {{value.leaveTypeForAlldayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;
  <mat-form-field  hintLabel="">
    <input matInput  [(ngModel)]="codeAndName" placeholder="รหัสพนักงาน / ชื่อ-สกุล">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="SearchLeaveData()" style="width:100%"><mat-icon>search</mat-icon>&nbsp;Search</button>
</mat-card>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef><font  color="black"><b>No.</b></font></th>
      <td mat-cell *matCellDef="let element ; let i = index">{{i+1}}.</td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="employeeCode">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>รหัสพนักงาน</b></font></th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterCustomerCode}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>ชื่อ-สกุล</b></font></th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterFirstName}}&nbsp;&nbsp;{{element.employeeMasterid.employeeMasterLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>ตำเเหน่ง</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeePosition}} </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>แผนก</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.departmentid.departmentName}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="employeeType">
       <th mat-header-cell *matHeaderCellDef><font color="black"><b>ประเภทพนักงาน</b></font>  </th>
       <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeType}} </td>
     </ng-container> -->

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>วันที่</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
    </ng-container>

    <ng-container matColumnDef="leaveType">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>ประเภทการลา</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.leaveTypeForAllDay.leaveTypeForAlldayName}}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>เริ่มจากวันที่</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.startDateForAllDay+' '}}<font *ngIf="element.startTime=='null'?false:true;">{{element.startTime}}</font></td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>ถึงวันที่</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.endDateForAllDay+' '}}<font *ngIf="element.startTime=='null'?false:true;">{{element.endTime}}</font> </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>รวม</b></font>  </th>
      <td mat-cell *matCellDef="let element">{{element.labelLeaveHalfDay}}</td>
    </ng-container>

    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef ><font color="black"><b>เหตุผล</b></font></th>
      <td mat-cell *matCellDef="let element"> {{element.reasonForAllDay}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[15, 30, 50, 100,1000]" showFirstLastButtons ></mat-paginator>

