<!-- Start Header From **********************************************************************************************************-->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="!side">
    <!--  พนักงาน(Employee) --------------------------------------------------------------------------------->
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="card">
      <h1 align="center">Welcome to human resourcse system</h1>
      <mat-horizontal-stepper>
        <mat-step>
          <ng-template matStepLabel><b>ข้อมูลส่วนตัว</b></ng-template>
          <div class="buttonStyle">
            <button   mat-button matStepperPrevious>
              <mat-icon  class="icon">skip_previous</mat-icon>
            </button>
            <button  mat-button matStepperNext>
              <mat-icon class="icon">skip_next</mat-icon>
            </button>
          </div>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel><b> Name</b></ng-template>
          <div class="buttonStyle">
            <button   mat-button matStepperPrevious>
              <mat-icon  class="icon">skip_previous</mat-icon>
            </button>
            <button  mat-button matStepperNext>
              <mat-icon class="icon">skip_next</mat-icon>
            </button>
          </div>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel><b>First Name</b></ng-template>
          <div class="buttonStyle">
            <button   mat-button matStepperPrevious>
              <mat-icon  class="icon">skip_previous</mat-icon>
            </button>
            <button  mat-button matStepperNext>
              <mat-icon class="icon">skip_next</mat-icon>
            </button>
          </div>
        </mat-step>


        <mat-step>
          <ng-template matStepLabel><b>Save</b></ng-template>
          <div class="buttonStyle">
            <button   mat-button matStepperPrevious>
              <mat-icon  class="icon">skip_previous</mat-icon>
            </button>
            <button  mat-button matStepperNext>
              <mat-icon class="icon">skip_next</mat-icon>
            </button>
          </div>

        </mat-step>

      </mat-horizontal-stepper>

    </div>
  </div>
</mat-drawer-container>











