.card{
  width:330px;
  height:400px;
   margin-top:80px;
   opacity: 0.95;
}


.center{
      display: flex;
     justify-content: center;

}

.BG_Sidenav{
  width:100%;
  height:100%;
  background-image:url(src/app/image/Photos2.jpg);
   background-size: auto;
}
