<div class="example-sidenav-content"  >
    <div class="card">
      <h1 align="center">New Employee Master</h1>
      <mat-horizontal-stepper>
        <!------------------------------Start ข้อมูลส่วนตัว ------------------------------------------------------------------------------>
        <mat-step>
          <ng-template matStepLabel><b>Personal information</b></ng-template>
          <mat-grid-list cols="2" rowHeight="2:1" class="mat_grid_list_Style">
            <mat-grid-tile>
               <div class="card3">
                 <mat-form-field style="width:100%">
                   <input matInput #x  placeholder="รหัสพนักงาน" required [(ngModel)]="employeeMasterCustomerCode">
                   <mat-hint align="end">{{x.value.length}}</mat-hint>
                   <mat-icon matSuffix>perm_identity</mat-icon>
                 </mat-form-field>
                 <!--Prefix-->
                 <mat-form-field hintLabel="" style="width :100%">
                   <mat-select placeholder="คำนำหน้า" required [(ngModel)]="prefixSelect">
                     <mat-option *ngFor="let value of prefix" [value]="value.prefixName">
                       {{value.prefixName}}
                     </mat-option>
                   </mat-select>
                   <mat-icon matSuffix>perm_identity</mat-icon>
                 </mat-form-field>
                 <!--F_NAME-->
                 <mat-form-field  style="width:100%" >
                   <input matInput placeholder="ชื่อ"  autocomplete="off" required [(ngModel)]="empMasterFirstName">
                   <mat-icon matSuffix>perm_identity</mat-icon>
                 </mat-form-field>
                 <!--L_NAME-->
                 <mat-form-field style="width:100%">
                   <input matInput placeholder="นามสกุล"  autocomplete="off" required [(ngModel)]="empMasterLastName">
                   <mat-icon matSuffix>perm_identity</mat-icon>
                 </mat-form-field>
               </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="card3">
                <!--      N_NAME-->
                <mat-form-field style="width:100%" >
                  <input matInput placeholder="ชื่อเล่น"  autocomplete="off"  [(ngModel)]="empMasterNickName">
                  <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <!--    Gender -->
                <mat-form-field  style="width :100%" >
                  <mat-select placeholder="เพศ" required [(ngModel)]="genderSelect">
                    <mat-option *ngFor="let value of gender" [value]="value.genderName">
                      {{value.genderName}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <!--  BirthDate  -->


                <mat-form-field style="width :100%">
                  <input matInput [matDatepicker]="BirthDate" hintLabel="" placeholder="เดือน/วัน/ปี เกิด" required autocomplete="off" [(ngModel)]="BirthDateSelect">
                  <mat-datepicker-toggle matSuffix [for]="BirthDate" ></mat-datepicker-toggle>
                  <mat-datepicker touchUi #BirthDate></mat-datepicker>
                </mat-form-field>

              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <br>
          <div class="buttonStyle">
            <button   mat-button matStepperPrevious>
              <mat-icon  class="icon">skip_previous</mat-icon>
            </button>
            <button  mat-button matStepperNext>
              <mat-icon class="icon">skip_next</mat-icon>
            </button>
          </div>
        </mat-step>
        <!------------------------------End ข้อมูลส่วนตัว ------------------------------------------------------------------------------>
        <!------------------------------Start ที่อยู่ ------------------------------------------------------------------------------>
        <mat-step>
              <ng-template matStepLabel><b>Addresses</b></ng-template>
              <div class="card2">
                <!--      personID-->
                <mat-form-field style="width :100%" >
                  <input matInput #message maxlength="13" placeholder="รหัสประจำตัวประชาชน หรือ หมายเลขหนังสือเดินทาง" required  [(ngModel)]="personID">
                  <mat-hint align="end">{{message.value?.length || 0}}/13</mat-hint>
                  <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>

                <!--  call contact 1-->
                <mat-form-field  style="width :100%" >
                  <input matInput #input maxlength="10" placeholder="เบอร์โทร" required  [(ngModel)]="callContact">
                  <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                  <mat-icon matSuffix>phone_iphone</mat-icon>
                </mat-form-field>
                <!--  Email -->
                <mat-form-field style="width :100%">
                  <input matInput placeholder="Enter your email"  [(ngModel)]="emails">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <!--      Home No.  -->
                <mat-form-field  style="width :100% ;">
                  <textarea matInput placeholder="ที่อยู่ตามบัตรประจำตัวประชาชน"  required [(ngModel)]="homeNo"></textarea>
                  <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
                <!--      Home Now Address.  -->
                <mat-form-field style="width :100%">
                  <textarea matInput placeholder="ที่อยู่ที่ติดต่อได้" required [(ngModel)]="homeNowAddress" ></textarea>
                  <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
                <!--     Emergency contact.  -->
                <mat-form-field style="width :100%">
                  <textarea matInput placeholder="ชื่อ/เบอร์โทร ผู้ที่ติดต่อในกรณีฉุกเฉิน" required [(ngModel)]="emergencyContact" ></textarea>
                  <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
              </div>
              <div class="buttonStyle">
                <button   mat-button matStepperPrevious>
                  <mat-icon  class="icon">skip_previous</mat-icon>
                </button>
                <button  mat-button matStepperNext>
                  <mat-icon class="icon">skip_next</mat-icon>
                </button>
              </div>
            </mat-step>
        <!------------------------------End ที่อยู่ ------------------------------------------------------------------------------>
        <!------------------------------Start Job Details ------------------------------------------------------------------------------>
        <mat-step>
              <ng-template matStepLabel><b>Job details & bank</b></ng-template>
              <div class="card2">
                <!--StartWork-->
                <mat-form-field style="width :100%">
                  <input matInput [matDatepicker]="startwork" hintLabel="" placeholder="เดือน/วัน/ปี เริ่มงาน" required [(ngModel)]="startWorks">
                  <mat-datepicker-toggle matSuffix [for]="startwork"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #startwork></mat-datepicker>
                </mat-form-field>
                <!-- แผนก -->
                <mat-form-field class="formcenter" hintLabel="" style="width :20%" style="width :100%" >
                  <mat-select placeholder="แผนก" required [(ngModel)]="departmentSelect">
                    <mat-option *ngFor="let depart of department" [value]="depart.departmentName">
                      {{depart.departmentName}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>work</mat-icon>
                </mat-form-field>
                <!------ ตำแหน่ง ------>
                <mat-form-field class="formcenter" hintLabel=""  style="width :100%" >
                  <mat-select placeholder="ตำแหน่ง" required [(ngModel)]="positionSelect">
                    <mat-option *ngFor="let pos of position" [value]="pos.positionName">
                      {{pos.positionName}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>work</mat-icon>
                </mat-form-field>
                <!-- ประเภทการทำงาน -->
                <mat-form-field class="formcenter" hintLabel="" style="width :100%">
                  <mat-select placeholder="ประเภทการทำงาน" required [(ngModel)]="typeNameSelect">
                    <mat-option *ngFor="let pos of employeeType" [value]="pos.employeeTypeName">
                      {{pos.employeeTypeName}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>work</mat-icon>
                </mat-form-field>
                <!-- วุฒิการศึกษา -->
                <mat-form-field hintLabel="" style="width :100%">
                  <mat-select placeholder="วุฒิการศึกษา" required [(ngModel)]="educationSelect">
                    <mat-option *ngFor="let pos of education" [value]="pos.educationName">
                      {{pos.educationName}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>school</mat-icon>
                </mat-form-field>
                <!--      Bank -->
                <mat-form-field class="formcenter" hintLabel="" style="width :100%">
                  <mat-select placeholder="ธนาคาร" required [(ngModel)]="bankSelect" >
                    <mat-option *ngFor="let bank of NewBank" [value]="bank.bankName">
                      {{bank.bankName}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>account_balance</mat-icon>
                </mat-form-field>
                <!--        AccountNo.-->
                <mat-form-field style="width:100%">
                  <input matInput #AccountNo maxlength="10" placeholder="เลขบัญชี" required [(ngModel)]="bankNumbers">
                  <mat-icon matSuffix>monetization_on</mat-icon>
                  <mat-hint align="end">{{AccountNo.value?.length || 0}}/10</mat-hint>
                </mat-form-field>

                </div>
                <div class="buttonStyle">
                  <button   mat-button matStepperPrevious>
                    <mat-icon  class="icon">skip_previous</mat-icon>
                  </button>
                  <button  mat-button matStepperNext>
                    <mat-icon class="icon">skip_next</mat-icon>
                  </button>
                </div>
              </mat-step>
        <!------------------------------End Job Details ------------------------------------------------------------------------------>
        <!------------------------------Start Save ------------------------------------------------------------------------------>
        <mat-step>
            <ng-template matStepLabel><b>Select role & Save</b></ng-template>
            <div align="center">
                <mat-form-field appearance="outline" style="width:30%;">
                  <mat-label>Select your role</mat-label>
                  <mat-select [(ngModel)]="role_statusSelect" required>
                    <mat-option *ngFor="let role of role_status" [value]="role.roleStatusName">
                      {{role.roleStatusName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field><br>
               <!-- <mat-form-field appearance="outline" style="width:30%;" >
                  <mat-label>Create your password</mat-label>
                  <input matInput placeholder="password" [type]="hide ? 'text' : 'password'" [(ngModel)]="passwordCreate">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                </mat-form-field> -->
            </div>
                <div  align="center" style="opacity: 0.99;">
                 <!-- <button mat-raised-button color="primary">Primary</button> -->
                  <font color="red"><p>*โปรดตรวจสอบข้อมูลอีกรอบก่อนกดบันทึก*</p></font>

                  <!--<button mat-raised-button color="accent"
                          style="width:35%;
                          height:50px;
                          font-size:18px;
                          margin-top: 0;
                          margin-right: auto;
                          margin-left: auto;
                          margin-bottom: auto;"
                          (click) = "SubmitData()">
                    <b><mat-icon matSuffix>save</mat-icon>บันทึกข้อมูลทั้งหมด<mat-icon matSuffix>save</mat-icon></b> -->

                      <mat-chip style="width:250px;height:50px;font-size:25px;"color="accent"(click) = "SubmitData()"  selected>
                        <mat-icon matSuffix>save</mat-icon>บันทึกข้อมูลทั้งหมด
                      </mat-chip>
                </div>
            </mat-step>
        <!------------------------------End Save ------------------------------------------------------------------------------>
      </mat-horizontal-stepper>

    </div>
</div>








