<mat-card class="cardHeader">
  <div align="center">
    ค้นหา :
      <mat-form-field appearance="outline" class="searchStyle">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter keyword">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-chip color="primary" matTooltip="นำข้อมูลเข้า" selected>Import Data &nbsp;<mat-icon matSuffix>cloud_download</mat-icon></mat-chip>&nbsp;
      <mat-chip color="accent" matTooltip="นำข้อมูลออก" selected>Export Data &nbsp;<mat-icon matSuffix>cloud_upload</mat-icon></mat-chip>&nbsp;
     <!-- <mat-chip color="accent" matTooltip="นำข้อมูลออก ทั้งหมด" selected>Export Data All&nbsp;<mat-icon matSuffix>cloud_upload</mat-icon></mat-chip> -->
  </div>
</mat-card>

<div class="card">

    <div class="example-container2 mat-elevation-z8" >
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select" sticky>
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="number" >
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>No.</b></font></th>
          <td mat-cell *matCellDef="let element; let i = index">{{i+1}}.</td>
        </ng-container>

        <ng-container matColumnDef="empCodeID" class="example-detail-row" >
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Customer Code</b></font></th>
          <td mat-cell *matCellDef="let element"  [attr.ngIf]="element.isActive == '1' ? true : false ">
               {{element.employeeMasterCustomerCode}}
          </td>
        </ng-container>

        <!--<ng-container matColumnDef="prefix" >
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Prefix</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.prefix}}</td>
          <td mat-cell *matCellDef="let element"> {{element.prefix}}</td>
        </ng-container> -->

        <ng-container matColumnDef="empFristName" >
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>FirstName</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterFirstName}}</td>
        </ng-container>

        <ng-container matColumnDef="empLastName" >
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Last Name</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterLastName}}  </td>
        </ng-container>

        <!--<ng-container matColumnDef="NickName">
          <th mat-header-cell *matHeaderCellDef><font color="black"><b>Nick Name</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterNickName}} </td>
        </ng-container>-->

        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Gender</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterGender}} </td>
        </ng-container>

        <!--<ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Status</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
        </ng-container>
        <!--
        <ng-container matColumnDef="BirthDate">
          <th mat-header-cell *matHeaderCellDef><font color="black"><b>Birth date</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterBirthDate}} </td>
        </ng-container> -->

       <!-- <ng-container matColumnDef="Age">
          <th mat-header-cell *matHeaderCellDef><font color="black"><b>Age.</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterBirthDate}} </td>
        </ng-container> -->

        <ng-container matColumnDef="PersonID">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>PersonID</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterPersonID}} </td>
        </ng-container>

        <ng-container matColumnDef="Tel1">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Tel</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterTel1}} </td>
        </ng-container>

        <!--  <ng-container matColumnDef="Email">
           <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Email</b></font></th>
           <td mat-cell *matCellDef="let element"> {{element.empEmail}} </td>
         </ng-container>

        <ng-container matColumnDef="AddressReal">
           <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Address real</b></font></th>
           <td mat-cell *matCellDef="let element"> {{element.empAddressReal}} </td>
         </ng-container>

         <ng-container matColumnDef="AddressPerson">
           <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Address person</b></font></th>
           <td mat-cell *matCellDef="let element"> {{element.empAddressPerson}} </td>
         </ng-container> -->

        <ng-container matColumnDef="StartDate">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Start work</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeMasterStartDate}} </td>
        </ng-container>

        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef><font color="black"><b>Position</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeePosition}} </td>
        </ng-container>

        <ng-container matColumnDef="Department">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Department</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.departmentid.departmentName}} </td>
        </ng-container>


        <ng-container matColumnDef="empType">
          <th mat-header-cell *matHeaderCellDef><font color="black"><b>Emp type</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.employeeType}} </td>
        </ng-container>
      <!--
        <ng-container matColumnDef="educations">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>educations</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.education}} </td>
        </ng-container>  -->

        <!--<ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Bank name</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
        </ng-container>

        <ng-container matColumnDef="bankNumber">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>Bank number</b></font></th>
          <td mat-cell *matCellDef="let element"> {{element.bankNumber}} </td>
        </ng-container> -->

        <ng-container matColumnDef="del">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>ลบข้อมูล</b></font></th>
          <td mat-cell *matCellDef="let element" >
            <button mat-icon-button matTooltip="ลบข้อมูล" matTooltipPosition="right" (click)="DeleteEmployeeMaster(element);"  #ckeckEdit>
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef><font  color="black"><b>แก้ไข</b></font></th>
          <td mat-cell *matCellDef="let element" >
            <button mat-icon-button matTooltip="แก้ไข" matTooltipPosition="right" (click)="OpenEditDialogComponent(element);" #ckeckEdit>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[15, 30, 50, 100]" showFirstLastButtons ></mat-paginator>










