.example-container {
  width: 100%;
  height: 100%;
  z-index: 1;
   left: 0px;
    overflow-x: hidden;
    padding-top: 20px;
    color: #000000;
    opacity: 0.9;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 3px;
  background-color: #000033;
}

.sidenav {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #000055;
  overflow-x: hidden;
  padding-top: 0px;
  color: #00ff00;
  opacity: 0.95;
  transition: 0.3s;
}

.sidenav a {
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  font-size: 17px;
  color: #000000;
  display: block;
}
.stylebutom{
  width:98%;
  margin-left: 1%;
   padding-top: 20px;
}

.sidenav a:hover {
  color: #000099;
}

.dd{
  font-size: 18px;
  color: back;
  text-shadow: white 0.1em 0em 0.3em;
   font-weight: bold;
}


.bgimg{
  background-image:url(src/app/image/hr.jpg);
    margin: 0;
    border: thin silver solid;
     width: 99.8%;
     height: 89.5%;
}
.logo{
    background-image:url(src/app/image/ils-logo-01.png);
     margin: right;
       width: 100px;
       height:100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.);
  transition: 0.3s;
  width: 93%;
  height: 80%;
   margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: #ffffff;

}
.card2 {
  width: 35%;
  height: 35%;
   margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: white;
}


.icon{
  color:#005500;
}


.cardHeader{
   width: 90%;
   height: 50px;
   margin-top: 2px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.searchStyle{
  width:300px;
}
/* ******************************  TABLE ********************************************** */
.example-container2 {
   height: 100%;
   width: 100%;
   overflow: auto;
   margin-top: 3px;
}


  th {
    background-color: #C0C0f0;
    width:30px;
  }
  td{
      height:30px;
  }
   th.mat-column-select,td.mat-column-select {
    padding-right: 20px;
    padding-lift: 1px;
    border-right: 1px solid #e0e0e0;
    font-size: 15px;
  }
   th.mat-column-number, td.mat-column-number {
          border-right: 1px double #e0e0e0;
          font-size: 15px;
          padding: 15px;
          width:auto;
    }

  td.mat-column-empCodeID{
    padding: 20px;
    border-right: 1px double #e0e0e0;
    font-size: 15px;

  }
  th.mat-column-empCodeID {
      padding: 20px;
      border-right: 1px double #e0e0e0;
      font-size: 15px;
       background-color: #C0C0f0;

  }
  th.mat-column-prefix, td.mat-column-prefix {
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
  }
  th.mat-column-empFristName, td.mat-column-empFristName {
      border-right: 1px double #e0e0e0;
      font-size: 15px;
      padding: 15px;
      width:auto;
  }
  th.mat-column-empLastName, td.mat-column-empLastName {
      border-right: 1px double #e0e0e0;
      font-size: 15px;
      padding: 15px;
      width:auto;
  }
   th.mat-column-NickName, td.mat-column-NickName{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-Gender, td.mat-column-Gender{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-Status, td.mat-column-Status{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-BirthDate, td.mat-column-BirthDate{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-Age, td.mat-column-Age{
           border-right: 1px double #e0e0e0;
           font-size: 15px;
           padding: 15px;
           width:auto;
      }
   th.mat-column-PersonID, td.mat-column-PersonID{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-Tel1, td.mat-column-Tel1{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-Email, td.mat-column-Email{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-AddressReal, td.mat-column-AddressReal{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-AddressPerson, td.mat-column-AddressPerson{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-StartDate, td.mat-column-StartDate{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-Position, td.mat-column-Position{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-Department, td.mat-column-Department{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-empType, td.mat-column-empType{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-educations, td.mat-column-educations{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-bank, td.mat-column-bank{
        border-right: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }
   th.mat-column-bankNumber, td.mat-column-bankNumber{
        font-size: 15px;
        padding: 15px;
        width:auto;
   }

   th.mat-column-del, td.mat-column-del{
        border-left: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;

   }
   th.mat-column-Edit, td.mat-column-Edit{
        border-left: 1px double #e0e0e0;
        font-size: 15px;
        padding: 15px;
        width:auto;
   }

