
<mat-toolbar color="primary">
  <span>Attendance Information</span>&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="example-fill-remaining-space" style="align:center;">
          <!--<mat-form-field  class="searchStyle">
            <input matInput  placeholder="Enter keyword">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field> -->
  </span>
  <span>
    <mat-slide-toggle (change)="onChange()" [(ngModel)]="isChecked">Complete</mat-slide-toggle>
  </span>
</mat-toolbar>

<mat-card>
    ค้นหา :
    <mat-form-field  class="searchStyle" (keydown.enter)="SearchEmployeeByCodeAndName()">
      <mat-label>Search</mat-label>
      <input matInput  [(ngModel)]="dataSearch" placeholder="รหัสพนักงาน / ชื่อ-สกุล">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  <!-- &nbsp; &nbsp;
  <mat-form-field class="formcenter" hintLabel="" style="width :200px">
    <mat-select placeholder="Search by department"  [(ngModel)]="departmentSelect">
      <mat-option *ngFor="let depart of department" [value]="depart.departmentID">
        {{depart.departmentName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <button mat-raised-button (click)="SearchEmployeeByDepartmentID()"><mat-icon matSuffix>search</mat-icon></button>
  {{departmentSelect}} -->
</mat-card>

<table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef><font  color="black"><b>No.</b></font></th>
    <td mat-cell *matCellDef="let element ; let i = index">{{i+1}}.</td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="employeeCode">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>รหัสพนักงาน</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterCustomerCode}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ชื่อ-สกุล</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterFirstName}}&nbsp;&nbsp;{{element.employeeMasterid.employeeMasterLastName}} </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ตำเเหน่ง</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeePosition}} </td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>แผนก</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.departmentid.departmentName}} </td>
  </ng-container>

 <!-- <ng-container matColumnDef="employeeType">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ประเภทพนักงาน</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeType}} </td>
  </ng-container> -->

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>วันที่</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
  </ng-container>

  <ng-container matColumnDef="leaveType">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ประเภทการลา</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.leaveTypeForAllDay.leaveTypeForAlldayName}}</td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>เริ่มจากวันที่</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.startDateForAllDay+' '}}<font *ngIf="element.startTime=='null'?false:true;">{{element.startTime}}</font></td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ถึงวันที่</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.endDateForAllDay+' '}}<font *ngIf="element.startTime=='null'?false:true;">{{element.endTime}}</font> </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>รวม</b></font>  </th>
    <td mat-cell *matCellDef="let element">{{element.labelLeaveHalfDay}}</td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><font color="black"><b>เหตุผล</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.reasonForAllDay}} </td>
  </ng-container>

  <ng-container matColumnDef="approvedBySupervisor">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>Ap_Sup</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.approvedBySupervisor}} </td>
  </ng-container>

  <ng-container matColumnDef="approvedByManager">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>Ap_Mgr</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.approvedByManager}} </td>
  </ng-container>

  <ng-container matColumnDef="reasonNotApprove">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>เหตุผลที่ไม่อนุมัติ</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.reasonNotApprove}} </td>
  </ng-container>

  <ng-container matColumnDef="isPayment">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>Payment</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.isPayment}} </td>
  </ng-container>

  <ng-container matColumnDef="leaveStatus">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>สถานะ</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.leaveStatus}} </td>
  </ng-container>

  <ng-container matColumnDef="confirm">
    <th mat-header-cell *matHeaderCellDef><font  color="black"><b></b></font></th>
    <td mat-cell *matCellDef="let element">
        <button mat-icon-button style="color: green;" matTooltip="ยืนยัน" matTooltipPosition="left"  [disabled]="dis" (click)="getEditPaymentDialog(element);" aria-label="Example icon-button with a heart icon">
          <mat-icon>check_circle_outline</mat-icon>
        </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="del">
    <th mat-header-cell *matHeaderCellDef><font  color="black"><b></b></font></th>
    <td mat-cell *matCellDef="let element" >
      <button mat-icon-button style="color: red;" matTooltip="ยกเลิกการลา" matTooltipPosition="left" (click)="DeleteAttendance(element);" [disabled]="dis" #ckeckEdit>
        <mat-icon>highlight_off</mat-icon>
      </button>
    </td>
  </ng-container>

  <!--<ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef><font  color="black"><b></b></font></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button  matTooltip="เเก้ไขการจ่ายเงิน" matTooltipPosition="left"  (click)="getEditPaymentDialog(element)" [disabled]="dis" aria-label="Example icon-button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[15, 30, 50, 100]" showFirstLastButtons ></mat-paginator>
