<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="number" >
    <th mat-header-cell *matHeaderCellDef><font  color="black"><b>No.</b></font></th>
    <td mat-cell *matCellDef="let element ; let i = index">{{i+1}}.</td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="employeeCode">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>รหัสพนักงาน</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterCustomerCode}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ชื่อ-สกุล</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterFirstName}}&nbsp;&nbsp;{{element.employeeMasterid.employeeMasterLastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="leaveType">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ประเภทการลา</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.leaveType}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>วันเริ่มจากวันที่</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ถึงวันที่</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>เวลาที่เริ่มลา</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>ถึงเวลา</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>เหตุผล</b></font></th>
    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
  </ng-container>

  <ng-container matColumnDef="approvedBySupervisor">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>approvedBySupervisor</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.approvedBySupervisor}} </td>
  </ng-container>

  <ng-container matColumnDef="approvedByManager">
    <th mat-header-cell *matHeaderCellDef><font color="black"><b>approvedByManager</b></font>  </th>
    <td mat-cell *matCellDef="let element"> {{element.approvedByManager}} </td>
  </ng-container>

  <ng-container matColumnDef="del" stickyEnd>
    <th mat-header-cell *matHeaderCellDef><font  color="black"><b>ลบข้อมูล</b></font></th>
    <td mat-cell *matCellDef="let element" >
      <button mat-icon-button matTooltip="ลบข้อมูล" matTooltipPosition="right" (click)="DeleteAttendance(element);"  #ckeckEdit>
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
