.example-card {
  max-width: 100%;
  height:auto;
}
.card {
  width: 400px;
  height: 350px;
   margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    transition: 0.3s;
     background-color: #E6E6FA;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.table{
  width: 100%;
   background-color: #E6E6FA;
}
.mat-form-field2 {
  font-size: 14px;
  width: 100%;
}
tr:hover {background-color: #DCDCDC;}
.pattern{
    width: 50%;
}
