<mat-progress-bar mode="indeterminate" *ngIf="progressBar"></mat-progress-bar>
<mat-card class="example-card">
  <span class="example-spacer"><h1 align="center">Add Department Role</h1></span>
    Employee Code :
    <mat-form-field  class="searchStyle" (keydown.enter)="ShowDataRole()">
      <mat-label>Enter Employee Code</mat-label>
      <input matInput  [(ngModel)]="dataSearch" placeholder="รหัสพนักงาน">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    &nbsp;&nbsp;{{employeeMasterFirstName}}&nbsp;&nbsp;{{employeeMasterLastName}}&nbsp;&nbsp;&nbsp;({{employeePosition}}-{{departmentName}})
    <br>
    Add Department Role :
    <mat-form-field class="pattern">
      <mat-label>Select department role</mat-label>
      <mat-select [(ngModel)]="toppings" multiple>
        <mat-option *ngFor="let topping of department" [value]="topping">{{topping.departmentID}}.{{topping.departmentName}}</mat-option>
      </mat-select>
    </mat-form-field>&nbsp;&nbsp;
    <button mat-raised-button color="accent" (click)="InsertDataDepartmentRole()">ADD</button>&nbsp;&nbsp;
    <button mat-raised-button color="accent" (click)="toppings=null" >Cleared field</button>

 <!-- <mat-form-field (keyup)="SearchDepartmentRole()" class="mat-form-field2">
    <mat-label>Search by employeeCode</mat-label>
    <input matInput  [(ngModel)]="searchDepartmentRole" placeholder="รหัสพนักงาน / ชื่อ-สกุล">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field> -->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container matColumnDef="empCode">
      <th mat-header-cell *matHeaderCellDef>รหัสพนักงาน</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterCustomerCode}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>ชื่อ-สกุล</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterFirstName}}&nbsp;{{element.employeeMasterid.employeeMasterLastName}} </td>
    </ng-container>
    <ng-container matColumnDef="po">
      <th mat-header-cell *matHeaderCellDef>ตำเเหน่ง</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeePosition}} </td>
    </ng-container>
    <ng-container matColumnDef="de">
      <th mat-header-cell *matHeaderCellDef>เเผนก</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.departmentid.departmentName}} </td>
    </ng-container>
    <ng-container matColumnDef="depart">
      <th mat-header-cell *matHeaderCellDef>ดูแล</th>
      <td mat-cell *matCellDef="let element"> {{element.departmentid.departmentName}} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>ลบข้อมูล</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="ลบข้อมูล" matTooltipPosition="right" (click)="Delete(element);"  #ckeckEdit>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
