<mat-card class="example-card">
  <span class="example-spacer"><h1 align="center">Add Department Role</h1></span>
  <mat-card class="card">
    ค้นหา :
    <mat-form-field  class="searchStyle" (keydown.enter)="SearchEmpCode()">
      <mat-label>รหัสพนักงาน</mat-label>
      <input matInput  [(ngModel)]="empCode" >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table>
      <tr>
        <th align="right">ชื่อ : </th>
        <td>{{employeeMasterFirstName}} &nbsp; {{employeeMasterLastName}}</td>
      </tr>
      <tr>
        <th align="right">ตำเเหน่ง : </th>
        <td>{{employeePosition}}</td>
      </tr>
      <tr>
        <th align="right">เเผนก : </th>
        <td>{{departmentName}}</td>
      </tr>
      <tr>
        <th align="right">ดูแล :</th>
        <td>{{deNamesubstr}}</td>
      </tr>
    </table>
    <br>
    <ng-select bindLabel="name"
               placeholder="Select department"
               appendTo="body"
               multiple="true"
               [(ngModel)]="departmentSelect">
      <ng-option   *ngFor="let item of department" [value]="item.departmentName">
        {{item.departmentName}}
      </ng-option>
    </ng-select>
    <div align="center">
      <button mat-raised-button color="accent" (click)="InsertDataDepartmentRole()" style="width:100px">ADD</button>&nbsp;&nbsp;
      <button mat-raised-button color="accent" (click)="clearInput()" style="width:100px">Clean data</button>
    </div>
  </mat-card>
  &nbsp;
  <mat-form-field (keydown.enter)="SearchDepartmentRole()" class="mat-form-field2">
    <input matInput  [(ngModel)]="searchDepartmentRole" placeholder="Search by employeeCode">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container matColumnDef="empCode">
      <th mat-header-cell *matHeaderCellDef>รหัสพนักงาน</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterCustomerCode}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>ชื่อ-สกุล</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeeMasterFirstName}}&nbsp;{{element.employeeMasterid.employeeMasterLastName}} </td>
    </ng-container>
    <ng-container matColumnDef="po">
      <th mat-header-cell *matHeaderCellDef>ตำเเหน่ง</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.employeePosition}} </td>
    </ng-container>
    <ng-container matColumnDef="de">
      <th mat-header-cell *matHeaderCellDef>เเผนก</th>
      <td mat-cell *matCellDef="let element"> {{element.employeeMasterid.departmentid.departmentName}} </td>
    </ng-container>
    <ng-container matColumnDef="depart">
      <th mat-header-cell *matHeaderCellDef>ดูแล</th>
      <td mat-cell *matCellDef="let element"> {{element.departmentid.departmentName}} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>ลบข้อมูล</th>
      <td mat-cell *matCellDef="let element" >
        <button mat-icon-button matTooltip="ลบข้อมูล" matTooltipPosition="right" (click)="Delete(element);"  #ckeckEdit>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 50, 100]" showFirstLastButtons ></mat-paginator>
</mat-card>
