
    <div class="card">

      <h1 align="center"><font color="green">Create a new account</font></h1>
      <p align="center">
        <mat-form-field appearance="outline" style="width:30%;">
          <mat-select  placeholder="Select your customer name" [(ngModel)]="employeeSelect">
            <mat-option *ngFor="let emp of employee" [value]="emp.employeeMasterID">
              {{emp.employeeMasterCustomerCode}}
              {{emp.employeeMasterFirstName}}
              {{emp.employeeMasterLastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width:30%;">
          <mat-label>Select your status</mat-label>
          <mat-select [(ngModel)]="statusSelect">
            <mat-option value="user">USERS</mat-option>
            <mat-option value="admin">ADMIN</mat-option>
            <mat-option value="hr">HR</mat-option>
            <mat-option value="it">IT</mat-option>
            <mat-option value="supervisor">SUPERVISOR</mat-option>
            <mat-option value="manager">MANAGER</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width:30%;">
          <mat-label>Create your user id</mat-label>
          <input matInput placeholder="username" [(ngModel)]="userCreate">
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width:30%;" >
          <mat-label>Create your password</mat-label>
          <input matInput placeholder="password" [type]="hide ? 'text' : 'password'" [(ngModel)]="passwordCreate">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>


      </p>
      <div class="example-button-row" align="center">
        <button mat-raised-button (click) = "SubmitData()" color="primary"  style="margin-left: 0px ; width: 220px ; font-size: 20px"  >Submit</button>
      </div>

    </div>










