<!-- Start Header From **********************************************************************************************************-->
<body class="bgimg">
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="!side">
    <!--  พนักงาน(Employee) --------------------------------------------------------------------------------->
    <div class="sidenav">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>  <!--  เห็นเฉพาะ HR -->
            <mat-label class="dd">
              Employee
            </mat-label>
          </mat-expansion-panel-header>
          <hr/>
          <a routerLink="/employee-master">Employee Master</a>
          <a routerLink="/employee-add">New Employee</a>
          <a routerLink="/create-account" >Create new account</a>
        </mat-expansion-panel>

        <!--  การลา(leave) --------------------------------------------------------------------------------->

        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-label class="dd">
              Attendance
            </mat-label>
          </mat-expansion-panel-header>
          <hr/>
          <a routerLink="LeaveMain">Attendance</a> <!-- เห็นทุกคน ยกเว้น HR -->
          <a routerLink="LeaveShow">Data Attendance</a>  <!-- เห็นทุกคน -->
          <a routerLink="LeaveShowHR">Data Attendance For HR</a>   <!-- เห็นเฉพาะ HR -->
          <a routerLink="LeaveApproveMan">Approve By MANAGER</a>   <!-- เห็นเฉพาะ MANAGER -->
          <a routerLink="LeaveApproveSup">Approve By SUPERVISOR</a>   <!-- เห็นเฉพาะ SUPERVISOR -->
        </mat-expansion-panel>

        <!--  ขอล่วงเวลา(OT) --------------------------------------------------------------------------------->

        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-label class="dd">
              OverTime
            </mat-label>
          </mat-expansion-panel-header>
          <hr/>
          <a routerLink="OverTime">OverTime</a>
          <a routerLink="OverTimeShow">Data OverTime</a>
          <a routerLink="OverTimeApprove">Approve</a>
        </mat-expansion-panel>

        <!--  อบรม (Training) --------------------------------------------------------------------------------->

        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-label class="dd">
              Training
            </mat-label>
          </mat-expansion-panel-header>
          <hr/>
          <a routerLink="TrainAdd">Training</a>
          <a routerLink="TrainShow">Data Training</a>
        </mat-expansion-panel>
      </mat-accordion>
      <button mat-raised-button color="primary" *ngIf="" routerLink="login" style="margin-right:10px ;color :#ffff">Login </button>
      <button mat-raised-button color="primary" *ngIf="" routerLink="Logout" (click)="onLogout()" style="margin-right:10px ;color :#ffff">Logout </button>
    </div> <!-- ข้างๆๆๆๆ -->
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>
  <!-- End Header From **********************************************************************************************************-->
  <div class="example-sidenav-content">
    <div class="card">
      <button type="button"mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">menu
        </mat-icon><font class="icon">Menu</font>
      </button>
      <h1 align="center"><font color="green">Create a new account</font></h1>
      <p align="center">
        <mat-form-field style="width:30%;">
          <mat-select  placeholder="Select your customer name" [(ngModel)]="employeeSelect">
            <mat-option *ngFor="let emp of employee" [value]="emp.employeeMasterID">
              {{emp.employeeMasterCustomerCode}}
              {{emp.employeeMasterFirstName}}
              {{emp.employeeMasterLastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field style="width:30%;">
          <mat-label>Select your status</mat-label>
          <mat-select [(ngModel)]="statusSelect">
            <mat-option value="USERS">USERS</mat-option>
            <mat-option value="ADMIN">ADMIN</mat-option>
            <mat-option value="HR">HR</mat-option>
            <mat-option value="IT">IT</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width:30%;">
          <mat-label>Create your user id</mat-label>
          <input matInput placeholder="username" [(ngModel)]="userCreate">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width:30%;" >
          <mat-label>Create your password</mat-label>
          <input matInput placeholder="password" [type]="hide ? 'text' : 'password'" [(ngModel)]="passwordCreate">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </mat-form-field>


      </p>
      <div class="example-button-row" align="center">
        <button mat-raised-button (click) = "SubmitData()" color="primary"  style="margin-left: 0px ; width: 220px ; font-size: 20px"  >Submit</button>
      </div>

    </div>
  </div>
  </mat-drawer-container>

</body>









