<mat-progress-bar mode="indeterminate" *ngIf="x"></mat-progress-bar>
<mat-toolbar-row>
    <span class="example-spacer"><h1 align="center">The Attendance</h1></span>
  <button  mat-button (click)="ShowLeaveNumberDailog()"><mat-icon matTooltip="จำนวนวันลา"><font color="red">notification_important</font></mat-icon></button>
</mat-toolbar-row>
<mat-card class="cardHeader">
  ชื่อ - สกุล:&nbsp;<b>{{table.fName}}&nbsp;&nbsp;{{table.lName}}</b>&nbsp;&nbsp; แผนก:&nbsp;<b>{{table.empDep}}</b> &nbsp;&nbsp; ตำแหน่ง:&nbsp;<b>{{table.empPos}}</b>
  &nbsp;&nbsp;ลากิจคงเหลือ :&nbsp;<b *ngFor="let item of leaveNumber;"><b *ngIf="this.item.leaveTypeid.leaveTypeForAlldayID==1">{{this.item.balanceDay}}</b></b>
  &nbsp;&nbsp;ลาป่วยคงเหลือ :&nbsp;<b *ngFor="let item of leaveNumber;"><b *ngIf="this.item.leaveTypeid.leaveTypeForAlldayID==2">{{this.item.balanceDay}}</b></b>
  &nbsp;&nbsp;ลาพักร้อนคงเหลือ :&nbsp;<b *ngFor="let item of leaveNumber;"><b *ngIf="this.item.leaveTypeid.leaveTypeForAlldayID==3">{{this.item.balanceDay}}</b></b>

  <mat-tab-group>
    <mat-tab label="การลาเต็มวัน">
        <div align="center">
          <h2>กรอกข้อมูลการลาเต็มวัน</h2>
          <mat-form-field hintLabel="" >
            <mat-select placeholder="ประเภทการลา" required [(ngModel)]="leaveTypeSelect2" >
              <mat-option *ngFor="let value of leaveTypeForAlldays" [value]="value.leaveTypeForAlldayName" [disabled]="(this.table.employeeMasterGender=='ชาย'&&(value.leaveTypeForAlldayName=='ลาคลอด'))||(this.table.employeeMasterGender=='หญิง'&&(value.leaveTypeForAlldayName=='ลาบวช'))||(this.leavetatelAll.checkDisabled==0&&(value.leaveTypeForAlldayName=='ลาพักร้อน'))?true:false">
                {{value.leaveTypeForAlldayName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <input matInput [matDatepicker]="picker2"  [matDatepickerFilter]="onlyOdds" placeholder="เริ่มจากวันที่" [(ngModel)]="startDate2" [disabled]="statusVacationLeave" (dateChange)="CalculateLeaveDate(startDate2,endDate2);" readonly required>
          <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker2></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <input matInput [matDatepicker]="pickers2" [matDatepickerFilter]="onlyOdds" placeholder="ถึงวันที่" [(ngModel)]="endDate2" [disabled]="statusVacationLeave" (dateChange)="CalculateLeaveDate(startDate2,endDate2);" readonly required>
          <mat-datepicker-toggle matSuffix [for]="pickers2"></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickers2></mat-datepicker>
        </mat-form-field>
          <font color="red">&nbsp;&nbsp;*{{leaveTypeSelect2}}&nbsp;{{diffDay}}&nbsp;{{day}}</font>
          <br>
        <mat-form-field style="width:30%;">
          <textarea matInput placeholder="เหตุผล" [(ngModel)]="reason2" required (click)="CalculateLeaveDate(startDate2,endDate2); Checktheleave(this.table.leaID,this.leaveTypeSelect2);" [disabled]="statusVacationLeave"></textarea>
        </mat-form-field>
        <br><button mat-raised-button color="accent" style="width:100px; font-size:25px;"  (click)="SubmitData2()">Save</button>
      </div>
    </mat-tab>
    <mat-tab label="การลาไม่เต็มวัน">
      <div align="center">
        <h2>กรอกข้อมูลการลาไม่เต็มวัน</h2>
        <mat-form-field width="200px;">
          <mat-select  placeholder="ประเภทการลา" [(ngModel)]="leaveTypeSelect"  required >
            <mat-option *ngFor="let value of leaveTypeForAlldays" [value]="value.leaveTypeForAlldayName"  [disabled]="(this.table.employeeMasterGender=='ชาย'&&(value.leaveTypeForAlldayName=='ลาคลอด'))||(this.table.employeeMasterGender=='หญิง'&&(value.leaveTypeForAlldayName=='ลาบวช'))||(this.leavetatelAll.checkDisabled==0&&(value.leaveTypeForAlldayName=='ลาพักร้อน'))?true:false">
              {{value.leaveTypeForAlldayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-radio-group  [(ngModel)]="labelLeaveHalfDay" (change)="SettingTime(); CalculateLeaveTime()">
          <mat-radio-button class="example-margin" value="ครึ่งวันเช้า">ครึ่งวันเช้า</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button class="example-margin" value="ครึ่งวันบ่าย">ครึ่งวันบ่าย</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button class="example-margin" value="ชั่วโมง">ชั่วโมง</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
        <br>
        <div>
          <mat-label>เวลาไป:</mat-label>
          <input  aria-label="24hr format"  [ngxTimepicker]="startTime" [format]="24"  [(ngModel)]="startTimeSelect" (ngModelChange)="CalculateLeaveTime()" [disabled]="!hourdis" readonly>
          <ngx-material-timepicker #startTime></ngx-material-timepicker>
          &nbsp;&nbsp;
          <mat-label>เวลากลับ:</mat-label>
          <input aria-label="24hr format" [ngxTimepicker]="endTime" [format]="24" [(ngModel)]="endTimeSelect" (ngModelChange)="CalculateLeaveTime()" [disabled]="!hourdis"  readonly>
          <ngx-material-timepicker #endTime></ngx-material-timepicker>
          &nbsp;&nbsp;<font color="red">*{{leaveTypeSelect}}&nbsp;{{this.totalTime}}&nbsp;ชม.</font>
        </div>

        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [matDatepickerFilter]="onlyOdds" placeholder="วันที่ลา" [(ngModel)]="startDate"  readonly required >
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <textarea matInput placeholder="เหตุผล" [(ngModel)]="reason" (click)="Checktheleave(empId,leaveTypeSelect);CalculateLeaveTime()" required ></textarea>
        </mat-form-field>
        <br><button mat-raised-button color="accent" style="width:100px; font-size:25px;"  (click)="SubmitData()">Save</button>
      </div>
    </mat-tab>
  </mat-tab-group>
  <hr>
</mat-card>

<mat-card class="cardSearch">
  <button mat-stroked-button style="width:100%;"(click)="hide = !hide"><mat-icon>search</mat-icon>&nbsp;<b>Show Search Data</b></button>

  <div *ngIf="hide">ค้นหา :
  <mat-form-field>
    <input matInput [matDatepicker]="pickerSearch"  [matDatepickerFilter]="onlyOdds" placeholder="วัน/เดือน/ปี ค.ศ." [(ngModel)]="startDateSearch" >
    <mat-datepicker-toggle matSuffix [for]="pickerSearch" ></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerSearch></mat-datepicker>
  </mat-form-field>&nbsp;&nbsp;To&nbsp;&nbsp;
  <mat-form-field>
    <input matInput [matDatepicker]="pickerSearch2"  [matDatepickerFilter]="onlyOdds" placeholder="วัน/เดือน/ปี ค.ศ." [(ngModel)]="endDateSearch" >
    <mat-datepicker-toggle matSuffix [for]="pickerSearch2" ></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerSearch2></mat-datepicker>
  </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field hintLabel="" >
      <mat-select placeholder="ประเภทการลา" [(ngModel)]="leaveTypeSearch" >
        <mat-option>---none---</mat-option>
        <mat-option *ngFor="let value of leaveTypeForAlldays" [value]="value.leaveTypeForAlldayName" [disabled]="(this.table.employeeMasterGender=='ชาย'&&(value.leaveTypeForAlldayName=='ลาคลอด'))||(this.table.employeeMasterGender=='หญิง'&&(value.leaveTypeForAlldayName=='ลาบวช'))||(this.leavetatelAll.checkDisabled==0&&(value.leaveTypeForAlldayName=='ลาพักร้อน'))?true:false">
          {{value.leaveTypeForAlldayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field hintLabel="" >
      <mat-select placeholder="สถานะ" [(ngModel)]="leaveStatusSearch" >
        <mat-option>---none---</mat-option>
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="Waiting approve">Waiting approve</mat-option>
        <mat-option value="Approve">Approve</mat-option>
        <mat-option value="Not approve">Not approve</mat-option>
        <mat-option value="Complete">Complete</mat-option>
        <mat-option value="Cancel">Cancel</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <button mat-raised-button><mat-icon>search</mat-icon>&nbsp;Search</button>
  </div>
</mat-card>


  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    <ng-container matColumnDef="number" >
      <th mat-header-cell *matHeaderCellDef><font  color="black"><b>No.</b></font></th>
      <td mat-cell *matCellDef="let element ; let i = index">{{i+1}}.</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>วันที่</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
    </ng-container>

    <ng-container matColumnDef="leaveType">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>ประเภท</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.leaveTypeForAllDay.leaveTypeForAlldayName}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>เริ่มจากวันที่</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.startDateForAllDay+' '}}<font *ngIf="element.startTime=='null'?false:true;">{{element.startTime}}</font></td>
    </ng-container>

    <ng-container matColumnDef="endDate2">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>ถึงวันที่</b></font>  </th>
      <td mat-cell *matCellDef="let element" > {{element.endDateForAllDay+' '}}<font *ngIf="element.startTime=='null'?false:true;">{{element.endTime}}</font></td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>รวม</b></font>  </th>
      <td mat-cell *matCellDef="let element">{{element.labelLeaveHalfDay}}</td>
    </ng-container>

    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>เหตุผล</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.reasonForAllDay}} </td>
    </ng-container>
    <!--<ng-container matColumnDef="approvedBySupervisor">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>อนุมัติโดยSupervisor</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.approvedBySupervisor}} </td>
    </ng-container>

    <ng-container matColumnDef="approvedByManager">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>อนุมัติโดยManager</b></font>  </th>
      <td mat-cell *matCellDef="let element"> {{element.approvedByManager}} </td>
    </ng-container> -->

    <ng-container matColumnDef="reasonNotApprove">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>เหตุผลที่ไม่อนุมัติ</b></font></th>
      <td mat-cell *matCellDef="let element"> {{element.reasonNotApprove}} </td>
    </ng-container>

    <ng-container matColumnDef="isPayment">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>Payment</b></font></th>
      <td mat-cell *matCellDef="let element"> {{element.isPayment}} </td>
    </ng-container>

    <ng-container matColumnDef="leaveStatus">
      <th mat-header-cell *matHeaderCellDef><font color="black"><b>สถานะ</b></font></th>
      <td mat-cell *matCellDef="let element"> {{element.leaveStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="del">
      <th mat-header-cell *matHeaderCellDef><font  color="black"><b>ยกเลิกการลา</b></font></th>
      <td mat-cell *matCellDef="let element" >
        <button mat-icon-button matTooltip="ยกเลิกการลา" matTooltipPosition="right" (click)="CancelDataAttendance(element); RefreshTable();"  [disabled]="element.employeeMasterid.roleStatus == 'SUPERVISOR' ? (element.leaveStatus == 'Waiting approve' ? false : true) : element.employeeMasterid.roleStatus == 'MANAGER' ?  (element.leaveStatus == 'Approve' ? false : true) : (element.employeeMasterid.roleStatus == 'EMPLOYEE' || element.employeeMasterid.roleStatus == 'ADMIN' || element.employeeMasterid.roleStatus == 'HR') ? (element.leaveStatus == 'Pending'? false : true): true"  #ckeckEdit>
          <mat-icon>cancel_presentation</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
<mat-paginator [pageSizeOptions]="[15, 30, 50, 100]"></mat-paginator>
<mat-card>
  <p style="color:red"><font size="2.5px">
    *Status: [Pending=อยู่ระหว่างดำเนินการ], [Waiting approve=รอการอนุมัติ], [Approve=อนุมัติ], [Not approve=ไม่อนุมัติ], [Complete=สำเร็จ], [Cancel=ยกเลิก]
  </font></p>
</mat-card>


