.cardHeader{
   height: auto;
   height: auto;
   margin-top: 0px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
}
.color{
 /*background-image:url(src/app/image/GreenDNA-BG-1.jpg);*/
  background-color: #00aa00;
}
.card2{
   wheight: auto;
   height: auto;
   margin-top: 2px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
}

td{
  border: 1px solid #ffffff;
  text-align: center;
}
th {
  border: 1px solid #ffffff;
  background-color: #00FF00;
}
tr:nth-child(even) {
  background-color: #90EE90;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
}


   th.mat-column-number,
   th.mat-column-date,
   th.mat-column-leaveType,
   th.mat-column-halfDay,
   th.mat-column-startDate,
   th.mat-column-reason,
   th.mat-column-approvedBySupervisor,
   th.mat-column-approvedByManager,
   th.mat-column-leaveStatus,
   th.mat-column-del,
   th.mat-column-endDate2,
   th.mat-column-total,
   th.mat-column-reasonNotApprove{
          text-align: center;
   }

mat-grid-tile {
  background: lightblue;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}



.container{
    display: flex;
    flex-flow: row;
    width: 100%;
    align-content:stretch;
}

.group{
    padding: 10px;
    width: 100%;
}


.example-spacer {
  flex: 1 1 auto;
}
