.cardHeader{
   height: auto;
   height: auto;
   margin-top: 0px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
}
.card2{
   wheight: auto;
   height: auto;
   margin-top: 2px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
}

td, th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #E6E6FA;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
}

  th {
    background-color: #C0C0f0;
  }
  th.mat-column-leaveType{
              padding: 10px;
              //width:auto;
     }



