.cardHeader{
   height: auto;
   height: auto;
   margin-top: 0px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
}
.card2{
   wheight: auto;
   height: auto;
   margin-top: 2px;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
}

td{
  border: 1px solid #ffffff;
  text-align: center;
}
th {
  border: 1px solid #ffffff;
  background-color: #C0C0f0;
}
tr:nth-child(even) {
  background-color: #E6E6FA;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: auto;
}


   th.mat-column-number,
   th.mat-column-date,
   th.mat-column-leaveType,
   th.mat-column-halfDay,
   th.mat-column-startDate,
   th.mat-column-reason,
   th.mat-column-approvedBySupervisor,
   th.mat-column-approvedByManager,
   th.mat-column-leaveStatus,
   th.mat-column-del,
   th.mat-column-endDate2,
   th.mat-column-total{
          text-align: center;
   }

mat-grid-tile {
  background: lightblue;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
