<mat-card class="cardHeader">

      <mat-form-field appearance="fill" hintLabel="กรอกรหัสพนักงานแล้วกด Enter" (keydown.enter)="NewSearchData(employeeMasterCustomerCode)">
        <mat-label>ค้นหารหัสพนักงาน</mat-label>
        <input matInput  #code maxlength="6" title="กรุณากรอกตัวเลข 6 ตัว" [(ngModel)]="employeeMasterCustomerCode">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint align="end">{{code.value?.length || 0}}/6</mat-hint>
      </mat-form-field>
<br><br>
  <table class="table">
    <tr bgcolor="#c0c0c0">
      <th>รหัสพนักงาน</th>
      <th>ชื่อ - สกุล</th>
      <th>แผนก</th>
      <th>ตำแหน่ง</th>
      <th>ลากิจคงเหลือ(วัน)</th>
      <th>ลาพักร้อนคงเหลือ(วัน)</th>
    </tr>
    <ng-container>
      <tr>
        <td>{{table.empCode}}</td>
        <td>{{table.fName}}&nbsp;&nbsp;{{table.lName}}</td>
        <td>{{table.empDep}}</td>
        <td>{{table.empPos}}</td>
        <td>{{table.sumDate}}</td>
        <td>{{table.sumDate}}</td>
      </tr>
    </ng-container>
  </table>
</mat-card>

<mat-card class="cardHeader">
</mat-card>
